In [1]:
import pandas as pd
import sklearn as sns
import random

In [2]:
df=pd.read_csv("data.csv")
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [3]:
df.shape

(569, 33)

In [45]:
# data=pd.DataFrame(df)

In [48]:
df.sample(3,axis=3)

ValueError: No axis named 3 for object type DataFrame

In [32]:
data.sample(10,replace=True)

     radius_mean
140        9.738
412        9.397
328       16.270
236       23.210
350       11.660
228       12.620
452       12.000
23        21.160
417       15.500
248       10.650

In [35]:
s=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
d=pd.DataFrame(s)

In [43]:
d.sample(5,replace=True,random_state=1)

     0
5    6
11  12
12  13
8    9
9   10

In [44]:
d.sample(5,replace=False,random_state=1)

     0
3    4
7    8
6    7
2    3
10  11