<a href="https://colab.research.google.com/github/DevP-ai/Machine-Learning/blob/master/Lab4_Feature_Selection_Dropping_Constant_Feature_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **Dropping Constant Feature**

In [7]:
data=pd.DataFrame({"A":[1,2,4,1,2,4],
                   "B":[4,5,6,7,8,9],
                   "C":[0,0,0,0,0,0],
                   "D":[1,1,1,1,1,1]})

In [8]:
data

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1
5  4  9  0  1

## **Variance Threshold**

In [9]:
## It will remove Zero Variance Features

from sklearn.feature_selection import VarianceThreshold
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [12]:
var_thres.get_support()

array([ True,  True, False, False])

In [13]:
data.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [14]:
const_columns=[column for column in data.columns 
               if column not in data.columns[var_thres.get_support()]]

In [15]:
const_columns

['C', 'D']

In [16]:
data.drop(const_columns,axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9

## **Try in Bigger Dataset**

In [23]:
df=pd.read_csv("/content/santarder.csv",nrows=100)

In [24]:
df.sample(5)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
32,80,2,26,0,0.00,0.00,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,123113.460000,0
76,154,2,72,0,0.00,0.00,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,117310.979016,0
31,77,2,66,0,0.00,0.00,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,63324.900000,1
61,136,2,41,525,353.97,390.81,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,59325.750000,0
73,151,2,24,0,0.00,0.00,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,54182.850000,0

In [25]:
df.shape

(100, 371)

In [26]:
X=df.drop(labels=['TARGET'],axis=1)
y=df['TARGET']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,
                                               random_state=0)

In [31]:
X_train.shape,X_test.shape

((70, 370), (30, 370))

In [32]:
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(X_train)

VarianceThreshold(threshold=0)

In [35]:
var_thres.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False,  True,  True, False,  True,  True, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
        True,  True,  True,  True, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False, False, False, False,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False,  True,  True, False,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False,  True,  True,  True,  True, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False, False,
       False, False,  True,  True, False,  True,  True,  True, False,
       False,  True, False,  True, False,  True,  True,  True,  True,
       False, False, False,  True,  True, False, False, False,  True,
        True, False,  True, False, False,  True, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
        True, False, False,  True, False, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True,
       False, False,  True, False,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
       False, False,  True, False,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True])

In [36]:
const_columns=[column for column in X_train.columns
               if column not in X_train.columns[var_thres.get_support()]]

In [38]:
print(const_columns)

['imp_op_var40_efect_ult1', 'imp_sal_var16_ult1', 'ind_var2_0', 'ind_var2', 'ind_var6_0', 'ind_var6', 'ind_var13_largo_0', 'ind_var13_largo', 'ind_var13_medio_0', 'ind_var13_medio', 'ind_var14', 'ind_var18_0', 'ind_var18', 'ind_var19', 'ind_var27_0', 'ind_var28_0', 'ind_var28', 'ind_var27', 'ind_var29_0', 'ind_var29', 'ind_var32_cte', 'ind_var32_0', 'ind_var32', 'ind_var33_0', 'ind_var33', 'ind_var34_0', 'ind_var34', 'ind_var41', 'ind_var44_0', 'ind_var44', 'ind_var46_0', 'ind_var46', 'num_var6_0', 'num_var6', 'num_var13_largo_0', 'num_var13_largo', 'num_var13_medio_0', 'num_var13_medio', 'num_var14', 'num_var18_0', 'num_var18', 'num_op_var40_hace3', 'num_var27_0', 'num_var28_0', 'num_var28', 'num_var27', 'num_var29_0', 'num_var29', 'num_var32_0', 'num_var32', 'num_var33_0', 'num_var33', 'num_var34_0', 'num_var34', 'num_var41', 'num_var44_0', 'num_var44', 'num_var46_0', 'num_var46', 'saldo_var6', 'saldo_var13_largo', 'saldo_var13_medio', 'saldo_var14', 'saldo_var18', 'saldo_var28', 'saldo_var27', 'saldo_var29', 'saldo_var32', 'saldo_var33', 'saldo_var34', 'saldo_var41', 'saldo_var44', 'saldo_var46', 'delta_imp_amort_var18_1y3', 'delta_imp_amort_var34_1y3', 'delta_imp_aport_var17_1y3', 'delta_imp_aport_var33_1y3', 'delta_imp_compra_var44_1y3', 'delta_imp_reemb_var13_1y3', 'delta_imp_reemb_var17_1y3', 'delta_imp_reemb_var33_1y3', 'delta_imp_trasp_var17_in_1y3', 'delta_imp_trasp_var17_out_1y3', 'delta_imp_trasp_var33_in_1y3', 'delta_imp_trasp_var33_out_1y3', 'delta_imp_venta_var44_1y3', 'delta_num_aport_var17_1y3', 'delta_num_aport_var33_1y3', 'delta_num_compra_var44_1y3', 'delta_num_reemb_var13_1y3', 'delta_num_reemb_var17_1y3', 'delta_num_reemb_var33_1y3', 'delta_num_trasp_var17_in_1y3', 'delta_num_trasp_var17_out_1y3', 'delta_num_trasp_var33_in_1y3', 'delta_num_trasp_var33_out_1y3', 'delta_num_venta_var44_1y3', 'imp_amort_var18_hace3', 'imp_amort_var18_ult1', 'imp_amort_var34_hace3', 'imp_amort_var34_ult1', 'imp_aport_var13_ult1', 'imp_aport_var17_hace3', 'imp_aport_var17_ult1', 'imp_aport_var33_hace3', 'imp_aport_var33_ult1', 'imp_var7_emit_ult1', 'imp_var7_recib_ult1', 'imp_compra_var44_hace3', 'imp_compra_var44_ult1', 'imp_reemb_var13_hace3', 'imp_reemb_var13_ult1', 'imp_reemb_var17_hace3', 'imp_reemb_var17_ult1', 'imp_reemb_var33_hace3', 'imp_reemb_var33_ult1', 'imp_trasp_var17_in_hace3', 'imp_trasp_var17_in_ult1', 'imp_trasp_var17_out_hace3', 'imp_trasp_var17_out_ult1', 'imp_trasp_var33_in_hace3', 'imp_trasp_var33_in_ult1', 'imp_trasp_var33_out_hace3', 'imp_trasp_var33_out_ult1', 'imp_venta_var44_hace3', 'imp_venta_var44_ult1', 'ind_var7_emit_ult1', 'ind_var7_recib_ult1', 'num_var2_0_ult1', 'num_var2_ult1', 'num_aport_var13_ult1', 'num_aport_var17_hace3', 'num_aport_var17_ult1', 'num_aport_var33_hace3', 'num_aport_var33_ult1', 'num_var7_emit_ult1', 'num_var7_recib_ult1', 'num_compra_var44_hace3', 'num_compra_var44_ult1', 'num_meses_var13_largo_ult3', 'num_meses_var13_medio_ult3', 'num_meses_var29_ult3', 'num_meses_var33_ult3', 'num_meses_var44_ult3', 'num_op_var40_efect_ult1', 'num_reemb_var13_hace3', 'num_reemb_var13_ult1', 'num_reemb_var17_hace3', 'num_reemb_var17_ult1', 'num_reemb_var33_hace3', 'num_reemb_var33_ult1', 'num_sal_var16_ult1', 'num_trasp_var17_in_hace3', 'num_trasp_var17_in_ult1', 'num_trasp_var17_out_hace3', 'num_trasp_var17_out_ult1', 'num_trasp_var33_in_hace3', 'num_trasp_var33_in_ult1', 'num_trasp_var33_out_hace3', 'num_trasp_var33_out_ult1', 'num_venta_var44_hace3', 'num_venta_var44_ult1', 'saldo_var2_ult1', 'saldo_medio_var12_hace3', 'saldo_medio_var13_largo_hace2', 'saldo_medio_var13_largo_hace3', 'saldo_medio_var13_largo_ult1', 'saldo_medio_var13_largo_ult3', 'saldo_medio_var13_medio_hace2', 'saldo_medio_var13_medio_hace3', 'saldo_medio_var13_medio_ult1', 'saldo_medio_var13_medio_ult3', 'saldo_medio_var17_hace3', 'saldo_medio_var29_hace2', 'saldo_medio_var29_hace3', 'saldo_medio_var29_ult1', 'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3']

In [39]:
X_train.drop(const_columns,axis=1)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var12_ult1,saldo_medio_var12_ult3,saldo_medio_var13_corto_hace2,saldo_medio_var13_corto_hace3,saldo_medio_var13_corto_ult1,saldo_medio_var13_corto_ult3,saldo_medio_var17_hace2,saldo_medio_var17_ult1,saldo_medio_var17_ult3,var38
60,135,2,38,0,477.06,618.36,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.0,0,0.0,0.0,0.00,0.00,149904.78
80,159,2,45,0,26.97,184.47,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.0,0,0.0,0.0,0.00,0.00,124988.25
90,173,0,5,0,0.00,0.00,0.0,0.0,0,0.0,...,2118.15,2118.15,0.0,0.0,0,0.0,0.0,0.00,0.00,102074.61
68,144,2,23,0,0.00,0.00,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.0,0,0.0,0.0,0.00,0.00,165258.42
51,115,2,22,0,0.00,0.00,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.0,0,0.0,0.0,0.00,0.00,76889.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,180,2,23,0,0.00,0.00,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.0,0,0.0,0.0,0.00,0.00,208818.99
67,143,2,23,0,0.00,0.00,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.0,0,0.0,0.0,0.00,0.00,41807.67
64,140,2,25,0,0.00,0.00,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.0,0,0.0,0.0,0.00,0.00,169579.74
47,107,2,42,0,0.00,0.00,0.0,0.0,0,0.0,...,0.00,0.00,27000.0,8100.0,27000,20700.0,0.0,0.00,0.00,43998.48
44,102,2,62,0,0.00,0.00,0.0,0.0,0,0.0,...,0.00,0.00,0.0,0.0,0,0.0,514.8,2126.07,1320.45,123380.37