<a href="https://colab.research.google.com/github/DevP-ai/Machine-Learning/blob/master/PPG_BP_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [79]:
df=pd.read_csv("/content/PPG-BP dataset  0111.csv")

In [80]:
df.sample(5)

,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Hypertension
80,81,115,Female,54,150,82,108,66,62,36.44,0
206,207,406,Female,26,171,75,106,63,69,25.65,0
63,64,95,Female,64,163,72,153,71,59,27.10,Stage 1 hypertension
77,78,112,Male,61,165,66,173,100,89,24.24,11
201,202,257,Female,28,160,58,122,70,88,22.66,1

In [81]:
df['Hypertension'].replace({'Normal':'00'},inplace=True)
df['Hypertension'].replace({'Prehypertension':'01'},inplace=True)
df['Hypertension'].replace({'Stage 1 hypertension':'10'},inplace=True)
df['Hypertension'].replace({'Stage 2 hypertension':'11'},inplace=True)

In [82]:
df.sample(10)

,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Hypertension
51,52,67,Female,42,152,49,100,63,67,21.21,0
111,112,154,Female,84,162,80,149,70,69,30.48,10
169,170,220,Female,55,155,50,174,104,96,20.81,11
74,75,108,Male,58,160,65,137,65,72,25.39,1
185,186,239,Male,53,175,75,138,93,65,24.49,1
123,124,167,Female,57,157,44,107,60,67,17.85,0
215,216,416,Female,25,156,47,93,57,79,19.31,0
199,200,254,Female,64,150,47,124,70,77,20.89,1
94,95,135,Male,56,165,70,165,86,73,25.71,11
75,76,110,Male,60,154,50,120,63,86,21.08,1

In [76]:
# one_hot_encoded_data = pd.get_dummies(df,columns = ['Hypertension'])
# one_hot_encoded_data

,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Diabetes,cerebral infarction,cerebrovascular disease,Hypertension_Normal,Hypertension_Prehypertension,Hypertension_Stage 1 hypertension,Hypertension_Stage 2 hypertension
0,1,2,Female,45,152,63,161,89,97,27.27,NaN,NaN,NaN,0,0,0,1
1,2,3,Female,50,157,50,160,93,76,20.28,NaN,NaN,NaN,0,0,0,1
2,3,6,Female,47,150,47,101,71,79,20.89,NaN,NaN,NaN,1,0,0,0
3,4,8,Male,45,172,65,136,93,87,21.97,NaN,NaN,NaN,0,1,0,0
4,5,9,Female,46,155,65,123,73,73,27.06,NaN,NaN,NaN,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,215,415,Male,24,180,70,111,70,77,21.60,NaN,NaN,NaN,1,0,0,0
215,216,416,Female,25,156,47,93,57,79,19.31,NaN,NaN,NaN,1,0,0,0
216,217,417,Male,25,176,55,120,69,72,17.76,NaN,NaN,NaN,0,1,0,0
217,218,418,Male,25,173,63,106,69,67,21.05,NaN,NaN,NaN,1,0,0,0
218,219,419,Male,24,175,58,108,68,65,18.94,NaN,NaN,NaN,1,0,0,0

In [95]:
feature=["BMI(kg/m^2)","Heart Rate(b/m)","Diastolic Blood Pressure(mmHg)","Height(cm)","Weight(kg)","Systolic Blood Pressure(mmHg)"]

In [96]:
X=df[feature].values

In [97]:
y=df["Hypertension"].values

In [98]:
X

array([[ 27.27,  97.  ,  89.  , 152.  ,  63.  , 161.  ],
       [ 20.28,  76.  ,  93.  , 157.  ,  50.  , 160.  ],
       [ 20.89,  79.  ,  71.  , 150.  ,  47.  , 101.  ],
       ...,
       [ 17.76,  72.  ,  69.  , 176.  ,  55.  , 120.  ],
       [ 21.05,  67.  ,  69.  , 173.  ,  63.  , 106.  ],
       [ 18.94,  65.  ,  68.  , 175.  ,  58.  , 108.  ]])

In [99]:
X.shape

(219, 6)

In [100]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [101]:
from sklearn.preprocessing import StandardScaler

In [102]:
sc_x = StandardScaler()
xtrain = sc_x.fit_transform(X_train) 
xtest = sc_x.transform(X_test)

In [103]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(xtrain, y_train)

LogisticRegression(random_state=0)

In [104]:
y_pred = classifier.predict(xtest)

In [105]:

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[16  0  0  0]
 [ 2 25  1  0]
 [ 0  1  8  0]
 [ 0  0  0  2]]

In [106]:

from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.9272727272727272

In [107]:
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test, y_pred, average='macro')

(0.9348290598290598, 0.9454365079365079, 0.9389978213507625, None)

In [50]:
precision_recall_fscore_support(y_test, y_pred, average='weighted')

(0.5509090909090909, 0.5636363636363636, 0.5523232323232323, None)